<div *ngIf="pageService.getPage() | async as page else loading">
    <div class="row">
        <h1 class="col-md-12">{{ page.title }}</h1>
    </div>

    <div class="description" [innerHTML]="page.description">
    </div>
    <div class="row job" *ngFor="let job of page.jobs">
        <div class="col-xs-12 col-md-12">
            <h4>
                <span class="position">{{ job.position }}</span>
                <span class="date">{{ job.startDate }} - {{ job.endDate }}</span>
            </h4>
            <div class="description" [innerHTML]="job.description">

            </div>
        </div>
    </div>
</div>
<ng-template #loading><p>Loading</p></ng-template>
