
label:first-of-type {
    margin: 0;
}

label {
    margin: 0 10px;
}

h1 {
    margin-top: 30px;
}

h3 {
    margin: 20px 0;
    height: 30px;
}

.position {
    float: left;
}

.date {
    float: right;
}

.job-title {
    margin-top: 30px;
}

.description {
    clear: both;
    margin-top: 20px;
}