<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Noah's Resume</a>
  <button (click)="toggle()"  class="navbar-toggler"  type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'collapse': isIn }">
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" >Home </a>
      </li>
      <li class="nav-item" routerLinkActive="active" routerLink="experience" >
        <a class="nav-link" >Experience</a>
      </li>
      <li class="nav-item" routerLinkActive="active" routerLink="projects" >
        <a class="nav-link" >Projects</a>
      </li>
      <li class="nav-item" routerLinkActive="active" routerLink="contact" >
        <a class="nav-link" >Contact</a>
      </li>
      <li class="nav-item"  >
        <a class="nav-link" >Resume</a>
      </li>
    </ul>

  </div>
</nav>